body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 200px;
}

h2 {
    color: greenyellow;
    text-align: left;
    font-size: 130px;
}

p {
    color: deeppink;
    text-align: left;
    font-size: 60px;
    border: 6px solid black;
    padding: 20px;
    margin: 40px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

#para-with-bg {
    background-image: url('/zeta.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7.5vh;
    min-width: 40vw;
    min-height: 70vh;
}

#para-in-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 6px solid white;*/
}
